.site-header {
  top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-div > a {
  backdrop-filter: blur(2px) saturate(100%);
}

.nav-items {
  border: 2px solid var(--tertiary-color);
  border-radius: 25px;
  background: var(--body-bg-color);
  .nav-primary {
    color: var(--tertiary-color);
  }
}

.nav-items:hover,
.nav-items:focus {
  border: 2px solid var(--hover-color);
  transform: translateX(-1em);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover-color);
  & .nav-primary {
    color: var(--hover-color);
  }
}
